NODE_ENV=development

NEXTAUTH_SECRET=secret
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=

# Same value as STEAM_SECRET, just with a different name for compatibility with next-auth-steam
STEAM_API_KEY=
STEAM_SECRET=

DATABASE_URL=postgresql://labyrinthine_user:labyrinthine_password@localhost:5432/labyrinthine_db
